.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas: "header header header"
    "news article article"
    "footer footer contact"; 
}

.container div:nth-child(1){
    grid-area: header;
    background-color: aqua;

}

.container div:nth-child(2){
    grid-area: news;
    background-color: bisque;
}


.container div:nth-child(3){
    grid-area: article;
    background-color:gold;
}


.container div:nth-child(4){
    grid-area: footer;
    background-color: blueviolet;
}

.container div:nth-child(5){
    grid-area: contact;
    background-color: azure;
}
